.Card {
  padding: 1.5rem;
  text-align: left;
  color: inherit;
  text-decoration: none;
  border: 1px solid #eaeaea;
  background-color: #d1d1d1;
  border-radius: 10px;
  transition: color 0.15s ease, border-color 0.15s ease;
  margin-bottom: 20px;
  margin-right: 20px;

  &:hover,
  &:focus,
  &:active {
    //color: #0070f3;
    //border-color: #0070f3;
  }

  h2 {
    margin: 0 1rem 1rem 0;
    font-size: 1.2rem;
  }

  p {
    margin: 0;
    font-size: 1rem;
    line-height: 1.5;
  }

.ContainerCard{
  display: flex;
  justify-content: space-between;
  align-items: center;

.ContainerIcons{
  
  
  img{
    width: 24px;
    margin-right: 5px;
    cursor: pointer;

    &:hover,
    &:focus,
    &:active {
      filter: invert(29%) sepia(98%) saturate(3645%) hue-rotate(201deg) brightness(99%) contrast(103%);
    }

  

  }

  @media(max-width: 800px) {
  
    img{
      width: 20px;
      margin-right: 0px;
      
    }
  
  }
}

}

}
